In [46]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt

In [47]:
# Define the list of tickers for the Dow Jones companies
tickers = ['AAPL', 'AMGN', 'AXP', 'BA', 'CAT', 'CRM', 'CSCO', 'CVX', 'DIS', 'DOW', 'GS', 'HD', 'HON', 'IBM', 'INTC', 'JNJ', 'JPM', 'KO', 'MCD', 'MMM', 'MRK', 'MSFT', 'NKE', 'PG', 'TRV', 'UNH', 'V', 'VZ', 'WBA', 'WMT']

# Fetch the data for the tickers from Yahoo Finance
data = yf.download(tickers, start='2000-01-01', end='2023-10-24')

# Save the data as a pickle file
data.to_pickle('dow_jones_data.pkl')

# Load the data from the pickle file
data = pd.read_pickle('dow_jones_data.pkl')

[*********************100%%**********************]  30 of 30 completed

In [48]:
data

             Adj Close                                                  \
                  AAPL        AMGN         AXP          BA         CAT
Date
2000-01-03    0.848323   45.956348   33.063011   25.940269   12.968648
2000-01-04    0.776801   42.442322   31.814611   25.899940   12.801952
2000-01-05    0.788168   43.902683   31.006527   27.513643   13.101996
2000-01-06    0.719961   44.632881   31.638248   27.796036   13.768762
2000-01-07    0.754065   49.652927   32.098881   28.602896   14.218843
...                ...         ...         ...         ...         ...
2023-10-17  177.149994  284.420013  154.389999  185.600006  271.248413
2023-10-18  175.839996  283.579987  151.529999  185.690002  257.887451
2023-10-19  175.460007  280.600006  149.619995  182.789993  251.589996
2023-10-20  172.880005  278.809998  141.570007  180.039993  249.199997
2023-10-23  173.000000  273.059998  144.589996  181.029999  247.320007

                                                                     ...  \
                   CRM       CSCO         CVX        DIS        DOW  ...
Date                                                                 ...
2000-01-03         NaN  37.228054   17.508459  23.115253        NaN  ...
2000-01-04         NaN  35.139488   17.508459  24.469290        NaN  ...
2000-01-05         NaN  35.031849   17.822515  25.484808        NaN  ...
2000-01-06         NaN  34.450489   18.581478  24.469290        NaN  ...
2000-01-07         NaN  36.474453   18.908621  24.082415        NaN  ...
...                ...        ...         ...        ...        ...  ...
2023-10-17  209.839996  53.939999  167.589996  86.199997  50.730000  ...
2023-10-18  204.830002  53.770000  168.919998  84.680000  50.080002  ...
2023-10-19  208.320007  53.320000  169.100006  83.250000  49.450001  ...
2023-10-20  203.729996  52.930000  166.830002  82.650002  48.990002  ...
2023-10-23  202.000000  52.200001  160.679993  83.099998  48.240002  ...

              Volume                                                  \
                 MRK      MSFT      NKE        PG      TRV       UNH
Date
2000-01-03   6265782  53228400  8014400   4275000   336400   3431200
2000-01-04   7894689  54119000  9810400   4270800   494400   5997600
2000-01-05   7963018  64059600  6542400   5098400   736000  10562400
2000-01-06   4989004  54976600  4891200   6524200   660400  15300000
2000-01-07  10871218  62013600  3993600   9832000   594700  16160800
...              ...       ...      ...       ...      ...       ...
2023-10-17   5827200  18338500  9253800   6160100  1670500   2586000
2023-10-18   7136400  23153600  8757300  10508500  2321500   2551400
2023-10-19   7647600  25052100  8391100   8146000  1778900   2351200
2023-10-20  12466800  25012600  7814600   7283900  1539800   2810800
2023-10-23   8493000  24374700  5966100   5981800  1503500   2357700


                    V        VZ       WBA      WMT
Date
2000-01-03        NaN   4663843   2095900  8369900
2000-01-04        NaN   5005878   1709100  6745100
2000-01-05        NaN   6368681   2167800  7018700
2000-01-06        NaN   4705763   2595400  6544500
2000-01-07        NaN   5043907   3629900  7976900
...               ...       ...       ...      ...
2023-10-17  4527600.0  21186000  12640700  3631000
2023-10-18  9528300.0  22024300  17548200  3519700
2023-10-19  5927400.0  28806600  10863500  3915300
2023-10-20  5748300.0  27265100  13552800  5018900
2023-10-23  5071700.0  31725800  19921100  5699000

[5990 rows x 180 columns]